<div class="jumbotron">
	<% tag_cloud Bookmark.tag_counts, %w{s m l} do |tag, css_class| %>
		<%= link_to tag.name, tag_path(tag.name), class: css_class %>
	<% end %>
</div>

	<div class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }'>			
		<%= render @bookmarks %>
	</div>
		

<hr/>
	<% #if current_user %>
	<%= render partial: 'form', locals: { bookmark: Bookmark.new } %>
	<% #end %>
