<div class="panel-body">
<div class="box panel panel-default">	
	
		<% @bookmarks.each do |bookmark| %>
		<div class="panel-body">
			<%= bookmark.title %>
			[<%=	bookmark.body %>]
		</div>
		<% end %>
		<% @tags.each do |tag| %>
			<%= tag.name %>
		<% end %>
	
</div>

<hr/>
<%= render partial: 'form', locals: { bookmark: Bookmark.new } %>

</div>