<div class="panel-body">
<div class="box panel panel-default">	
	
		<% @bookmarks.each do |bookmark| %>
		<div class="panel-body">
			<%= bookmark.title %>
		</div>
		<% end %>
	
</div>

<hr/>
<%= render partial: 'form', locals: { bookmark: Bookmark.new } %>

</div>