<div class="panel-body">
	
	<ul>
		<% @bookmarks.each do |bookmark| %>
			<li><%= bookmark.title %></li>
		<% end %>
	</ul>
<hr/>
<%= render partial: 'form', locals: { bookmark: Bookmark.new } %>

</div>