<h1>Ruby Newbies</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<iframe width="420" height="315" src="http://www.youtube.com/embed/MRr0IuqwHsE" frameborder="0" allowfullscreen></iframe><br/>

<p><%= link_to  "Join the Ruby Newbie Community", "https://plus.google.com/communities/115473914992534971842" %></p>

