<h1>Postmarks</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div class="panel-body">
	
	<% bookmarks.each do |bookmark| %>
	
		<%= bookmark.body %>
		<%= bookmark.name %>

	<% end %>

</div>