
@import "bootstrap";


.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}  

/*.item {
  margin: 5px;
  max-width: 200px;
  min-width: 50;
  max-length: 250px;



}

.item img {
	width: 100%;
}*/

