<div class="vote-arrows pull-left">

	<div><%= link_to " ", bookmark_post_up_vote(bookmark), class: 'icon-chevron-up' %></div>
	<!-- <div><strong><%= bookmark.points %></strong></div> -->
	<!-- <div><%= bookmark.points %></strong></div> -->
	<div><%= link_to " ", bookmark_post_down_vote(bookmark),, class: 'icon-chevron-down' %></div>
</div>